.nav-link {
    background-color: rgb(24, 3, 82);
    width: 220px; 
}

#navbar-nav {
    margin-inline: auto;
}

.open {
    display: flex;
}
.closed {
    display: none;
}

#myListing-h1 {
    margin-top: 20px;
}

.registerFormGroup > input {
    max-height: 35px;
}

.registerFormGroup > label {
    font-size: 20px;
}

#registerForm {
    min-width: 90%;
}

#regFormContainer, #loginFormContainer {
    min-width: 70%;
    max-width: 800px;
}

.profileListingImg-container {
    max-width: 580px;
}

#updateListingContainer {
    max-width: 60%; 
    border: 2px solid gold;
}

.newHere {
    font-size: 17px;
}

#updateListing {
    max-width: 800px;
}

.forgot-pw > a {
    font-size: 18px;
}

.loginFormBtn {
    background-color: rgb(15, 10, 82);
}

#registerButton {
    max-height: 42px;
    font-size: 20px;
    background-color: rgb(15, 10, 82);
}

#listingsContainer {
    margin-top: 25px ;
}

#loginMessage {
    margin-top: 120px;
}

#listingContainer {
    width: 100%;
    margin-top: 30px;
}

#itemContainer {
    max-width: 300px !important;
}

#listingBtn {
    font-size: 20px;
}

#specificProfileListingsContainer {
    display: flex;
    justify-content: center;
    min-width: 96%;
    margin-top: 20px;
}
#singleProfileListingContainer  {
    margin-inline: auto;
}

#deleteProfileListingBtn {
    font-size: 20px;
}

.imageBackground  {
    max-height: 300px;
    width: 90%;
}
.singleListingImg {
    min-width: 90%;
    max-height: 300px;
}

.profileListingImage  {
    min-width: 90%;
    max-width: 400px !important;
}

#profileListingBids {
    min-width: 70%;
    max-width: 72%;
}

.profileListingInfoContainer {
    width: 100%;
    max-width: 600px;
}

.nav-item { 
    margin-top: 70px;
}

.profileListingImgContainer {
    flex: auto;
}

#loginBtn, #logoutBtn {
    background-color: rgb(16, 25, 112);
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: 10%;
    right:15%;
    display: flex;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(44, 43, 43, 0.3);
    font-size: 18px;
}

#bidBayLogo {
    position: absolute;
    top: 2%;
    left: 3%;
    font-size: 40px;
}

nav {
    margin-bottom: 30px;
}

.login-link, .logout-link {
    padding: 3px 8px;
    text-decoration: none;
}



.searchBar {   
    max-width: 500px; 
    position: absolute;
    top: 16%;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.clickableListings {
    min-width: 100%;
    min-height: 480px;
    max-height: 480px;
    overflow: hidden;
}

#bidHistoryContainer {
    min-width: 100%;
}

#bidHistoryContainer2 {
    min-width: 100%;
   
}

#listingInfoSectionContent {
    display: flex;
    min-width: 70%;
    justify-items: center;
    justify-content: center;
    max-width: 800px !important;
    padding: 10px;
}

#biddingInfo {
    min-width: 96%;
}

.listingTitle  {
    font-size: 32px;
    font-weight: bold;
}

.listingDescription {
    font-size: 20px;
    margin-top: 20px;
}

.listingCard {
    min-height: 480px;
    max-height: 480px;
}

.SearchBtn {
    background-color:  rgb(255, 255, 255);
    border-radius: 0 20px 20px 0;
    margin-left: -18px;
    padding: 8px;
}

.SearchBtn:hover {
    background-color: rgb(24, 3, 82);;
    color: #fff !important;
    transition: ease-in-out;
    transition-delay: 40ms;
}

#listingsContainer, #activeListingsContainer, #newestListingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    grid-gap: 30px 20px;
    margin-top: 20px;
}

#profileListingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    grid-gap: 30px 20px;
}

@media (width < 1200px) {
    #listingsContainer, #newestListingsContainer, #activeListingsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px 30px;

        img{
            height: 220px;
            object-fit: cover;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
    }

    #profileListingsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px 30px;
        
        img{
            height: 220px;
            object-fit: cover;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
        .all-listings {
           width: 90%;
        }      
    }
}
@media (width < 1000px) {
    #listingsContainer {
        width: 100%;
        img{
            height: 220px;
        }
        .image-background {
            background-color: #f5f5f5;
            height: 220px;
            width: 100%;
        }
    }
    #profileListingsContainer {
        
        img{
            height: 220px;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
        .all-listings {
           width: 90%;
        }      
    }
}
@media(width < 992px) {

    #listingsContainer, #activeListingsContainer, #newestListingsContainer {
        margin-top: 80px;
    }

    #myListing-h1 {
        margin-top: 80px;
    }
    #navbar-nav {
        margin-top: 20px;
        .nav-link {
            background-color: #f8f9fa;
            color: black !important;
            text-align: left;
            width: fit-content;
        }
        
    }

    #loginBtn, #logoutBtn {
        background-color: rgb(16, 25, 112);
        border-radius: 10px;
        padding: 3px;
        position: absolute;
        top: 40%;
        display: flex;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(44, 43, 43, 0.3);
        font-size: 18px;
    }
    
    #bidAmountInput {
        max-height: 30px;
        max-width: 100px;
    }
    #listingContainer {
        min-width: 96%;
    }
    #listingsContainer {
        margin-top: 80px ;
    }

    #nav {
        height: 100%;
    }

    .searchBar {
        margin-top: 10px;
        top: 100%;
    }

    #loginBtn, #logoutBtn {
        right: 1%;
    }

    .nav-link {
        width: 180px; 
        padding: 2px !important;
    }
    
    .nav-item {
        margin-top: 3px;
    }

    .navbar-nav {
        margin-right: auto;
    }

    #bidBayLogo {
        left: 13%;
        top: 8%;
        font-size: 40px;
    }
    #listingImgContainer {
        display: flex;
    }
    #listingImageBackground {
        max-width: 80%;
    }
    .singleListingImg {
        min-width: 80%;
    }
    .profileListingImage {
        min-width: 80%;
    }
    .imageBackground  {
        min-width: 90%;
    }
}
@media (width < 800px) {

    #bidBayLogo {
        left: 15%;
    }

    #listingsContainer, #activeListingsContainer, #newestListingsContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        img{
            height: 220px;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
    }

    #profileListingsContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        
        img{
            height: 220px;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
        .all-listings {
           width: 90%;
        }      
    }
}

@media (width < 740px) {

    .registerFormGroup > label {
        font-size: 18px;
    }

    #listingImageBackground {
        max-width: 300px;

        img {
            max-width: 280px
        }
    }
    .profileListingInfoContainer {
        min-width: 50%;
    }
    .profileListingImg-container {
        min-width: 50%;
    }
    .timeAndBidsContainer {
        min-width: 100%;
    }
}
@media (width < 625px) {
    .singleProfileListingContainer  {
        flex-direction: column !important;

        .profileListingImg-container {
            min-width: 90%;
        }

        .profileListingInfoContainer {
            min-width: 90%;
        }

        .editProfileListing {
            margin-bottom: 15px;
        }
    }

    #deleteProfileListingBtn {
        font-size: 20px;
    }

    #profileListingBids {
        min-width: 88%;
    }

    #listingContainer {
        flex-direction: column;
        max-width: 80%;
        margin-top: 160px;

        #listingInfoContainer {
            margin-inline: auto;
            min-height: 90%;
            min-width: 90%;
            margin-top: 30px;
        }

        .listingTitle  {
            font-size: 36px;
            font-weight: bold;
            margin-top: 50px;
        }
        #listingImageBackground {
            height: 100%;
        }

        #listingImageBackground {
            min-width: 90%;
            margin-inline: auto !important;

            img {
                min-width: 80%;
            }
        }
    }
    #listingInfoSection {
        margin-top: 180px !important;
        
    }
    #listingInfoSectionContent {
        min-width: 80%;
        margin-top: 10px;
        margin-inline: 10px;
    }

}
@media (width < 580px) {
    #listingBtn {
        font-size: 16px;
    }

    #bidBayLogo {
        left: 18%;
    }

    #listingsContainer, #newestListingsContainer, #activeListingsContainer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        
        img{
            height: 220px;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
        .all-listings {
           width: 100%;
           margin-inline: auto;
        }
    }
   
    #profileListingsContainer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        
        img{
            height: 220px;
        }
        .image-background {
            background-color: #e9e9e9;
            height: 220px;
            width: 100%;
        }
        .all-listings {
           width: 90%;
        }      
    }
    #listingInfoSectionContent {
        min-width: 90%;
    }
}

@media (width < 460px) {
    #placeBidButton {
        max-width: 90%;
    }

    #titleAndDescriptionContainer {
        max-width: 92%;
    }

    .listingDescription {
        border: 2px solid gold;
        font-size: 18px;
    }
    #timeLeftContainer {
        max-width: 90%;
    }

    #deleteProfileListingBtn {
        font-size: 16px;
    }

    #biddingInfo {
        font-size: 13px;
    }

    #bidHistoryContainer {
        font-size: 14px;
    }

    #listingInfoSection > a {
        font-size: 18px;    
    }

    .biddingRowAmount {
        display: flex;
        justify-content: end !important;
    }
    .account-h1 {
        width: 60%;
        max-width: 80% !important;
        margin-left: 10px;
    }
    .accountInfo > span {
        font-size: 18px !important;
    }
    .bidsValues, .profileListingBids  {
        font-size: 14px;
    }
    
}


.all-listings {
    box-shadow: 0px 0px 1px rgb(224, 223, 224);
    min-width: 100%;
    height: 480PX;
    text-decoration: none;
    box-sizing: border-box;
}
.listings-img {
    width: 100%;
    padding-inline: 20px;
    height: 300px;
    object-fit: cover;
}

.listings-description {
    width: 100%;
}

.listing-title {
    color: rgb(136, 9, 119);
}

.listing-info {
   padding: 10px;
}

.image-background {
    background-color: #e9e9e9;
    height: 300px;
    width: 100%;
}

.listing-tags {
    width: 100%;
    word-wrap: break-word;
}

.accountContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.account-h1 {
    width: 100%;
    max-width: 400px;
    margin-left: 10px;
}

.accountImage {
    width: 80%;
    max-width: 500px;
}

.profileInfoContainer {
    
    .email {
        white-space: nowrap;
    }
    .accountDiv {
        width: 600px;
        border: 3px solid red;
    }
}
#editProfile {
    max-width: 600px;

    button {
        height: 40px;
    }
}
#createListing {
    max-width: 660px;
}

.all-listings:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(224, 224, 224);
}

#specificListing {
    width: 100%;
    height: 500px;
    display:flex;
    justify-content: center;

    .specificListingContainer {
        display:flex;
        width: 90%;
    }

    .imageContainer {
        background-color: rgb(240, 240, 240);
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .specificListingImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .specificListingInfo {
        width: 60%;
        margin-left: 40px;
    }

    .currentPrice {
        margin-top: 50px;
    }

    .timeNBids {
        width: 70%;
    }

}
.singleProfileListingContainer {
    width: 90%;
    height: 100%;

    .profileListingImg-container {
        height: 100%;
        width: 60%;
        
        .imageBackground {
            background-color: rgb(240, 240, 240);
            width: 90%;
            max-width: 560px;
            height: 400px;
            margin-inline: auto;
        }
        .singleListingImg {
            max-width: 90%;
            margin-inline: auto;
            object-fit: cover;
        }
    }

    .profileListingInfoContainer {
        width: 80%;
        box-sizing: border-box;
    }

    .timeAndBidsContainer {
        width: 70%;
    }

    .editProfileListingContainer {
        width: fit-content;
        height: 40%;
        display: flex;
        justify-content: space-between;
        width: 70%;
        
        .editProfileListing {
            font-weight: bold;
            margin-top: auto;
            font-size: 18px;
            margin-right: auto;
        }

        .deleteProfileListing {
            font-weight: bold;
            margin-top: auto;
            font-size: 18px;
            margin-left: auto;
            
        }
        .editprofileListingBtn {
            width: 80%;
        }
    }
}

#listingContainer {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

    .listingImageBackground {
        background-color: rgb(240, 240, 240);
        width: 400px;
        max-width: 640px;
        height: 92%;
        margin-inline: auto;
        display: flex;
        justify-content: center;

        .listingImg {
            width: 300px;
            min-height: 100%;
            object-fit: cover;
        }
    }

#placeBidButton {
    height: 40px;
    width: 100%;
    background-color: rgb(89, 0, 255);
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    padding-block: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listingBidInputContainer {
    width: 100%;
}
#BidAmountInput {
    outline: none;
    width: 120px;
    margin-left: 80px;
}
#titleAndDescriptionContainer{
    font-size: 10px ;
}

#timeLeftContainer {
    margin-bottom:30px;
}

.auction-ended {
    color: red;
}

.listingInfoContainer {
    max-width: 500px;
}

#ItemContainer {
    margin-inline: auto;
    margin-top: 40px;
    padding: 15px 70px 15px 15px;
    background: rgb(241, 241, 241);
    width: 75%;
}

#listingSellerImg {
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#bidContainer {
    width: 100%;
    margin-top: 15px;

}
#biddingInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    text-align: left;
}

.biddingRow-name {
    flex: 1;
    max-width: 15%;
    margin-left: 0;
}

.biddingRow-amount {
    flex: 1;
    max-width: 80px;
    margin-inline: auto;
}

.biddingRow-time {
    flex: 1;
    text-align: left;
    max-width: 150px;
    margin-right: 0;
}

#listingInfoSectionContent {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    box-sizing: border-box;
    margin-bottom: 50px;
}
#itemInfo {
    text-decoration: none;
}
#bidInfo {
    text-decoration: none;
}
#sellerInfo {
    text-decoration: none;
}
#profileListingBids {
    max-width: 48%;
    margin-inline: auto;
    margin-top: 40px;
}

.bidsValues {
    display: flex;
    justify-content: space-between;
}

.profileListingBids {
    display: flex;
    justify-content: space-between;
    
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";